@import (reference) 'variables';
@import (reference) 'button';

.header {
  background-color: @medium-sea-green;
  box-shadow: 3px 3px 5px rgba(114, 113, 113, 0.4);
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  width: 100%;

  &_title {
    color: @madison;
  }

  &_nav {
    margin-right: 2rem;
    padding: 2rem;

    a {
      color: @madison;
      font-weight: bold;
      padding: 0.5rem 1rem;

      &:hover {
        color: @white;
      }

      &.router-link-active {
        color: @white;
      }
    }

    // &-login {
    //   background-color: @medium-sea-green;
    //   color: @madison;
    //   padding: 1rem;
    //   transition: 0.2s ease;

    //   &:focus,
    //   &:hover {
    //     background-color: @madison;
    //     color: @white;
    //     cursor: pointer;
    //   }
    // }

    &-logout {
      // background-color: @medium-sea-green;
      color: @madison;
      font-size: 1rem;
      font-weight: bold;
      // padding: 0 0.5rem;
      // transition: 0.2s ease;

      &:focus,
      &:hover {
        // background-color: @madison;
        color: @white;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 2rem 0;
    width: 100%;

    &_nav {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }


}

