@import (reference) 'variables';

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, sans-serif;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
}

table, th, tr, td {
  border: 1px dotted @madison;
  border-collapse: collapse;
  text-align: center;
}
