
.projects {
  &_dialog {
    align-self: center;
    // display: grid;
    // gap: 2rem;
    // grid-template:
    //   "creatorLabel username"
    //   "textInput textInput"
    //   "textArea textArea"
    //   "dateInput dateInput"
    //   "selectInput selectInput"
    //   // "textAreaLabel textAreaInput"
    //   // "dateLabel dateInput"
    //   // "dateLabel dateInput"
    //   // "selectLabel selectInput"
    //   // "textLabel textInput"
    //   ~'/' 1fr;
    // justify-content: right;
  }

  &_creatorLabel {
    font-weight: bold;
    padding-right: 8.7rem;
  }

  &_username {
  }
}
