.TextInput {
  // display: grid;
  // // gap: 2.5rem;
  // grid-template: "label input";
  // width: 20rem;

  &_label {
    font-weight: bold;
    grid-area: textLabel;
  }

  &_input {
    grid-area: textInput;
  }
}
